In [1]:
import numpy as np
import pandas as pd
import os
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
import psycopg2
from sqlalchemy import create_engine

In [32]:
bills=pd.read_csv('Data/bills.csv')              
committees=pd.read_csv('Data/committees.csv')        
leadership=pd.read_csv('Data/leadership.csv')        
os_legislators=pd.read_csv('Data/os_legislators.csv')  
votingaffinity=pd.read_csv('Data/votingaffinity.csv')
committee_members=pd.read_csv('Data/committee_members.csv')  
congress_members=pd.read_csv('Data/congress_members.csv') 
os_contributions=pd.read_csv('Data/os_contributions.csv')  
terms=pd.read_csv('Data/terms.csv')

terms - bills \
leadership = contributions \
members - committees, committee membership

# Bills

In [3]:
bills.columns = [x.lower() for x in bills.columns]
bills.columns = [x.replace('.', '_') for x in bills.columns]
bills.columns

Index(['congress', 'introduceddate', 'number', 'title', 'type', 'url',
       'latestaction_actiondate', 'latestaction_text', 'policyarea_name',
       'amendmentnumber', 'latestaction', 'latestaction_actiontime'],
      dtype='object')

In [4]:
congress_members.head(1).T

                                                                                  0
bioguideId                                                                  B000944
birthYear                                                                      1952
currentMember                                                                  True
directOrderName                                                       Sherrod Brown
firstName                                                                   Sherrod
honorificName                                                                   Mr.
invertedOrderName                                                    Brown, Sherrod
lastName                                                                      Brown
officialWebsiteUrl                                    https://www.brown.senate.gov/
partyHistory                      [{'partyAbbreviation': 'D', 'partyName': 'Demo...
state                                                                          Ohio
terms                             [{'chamber': 'House of Representatives', 'cong...
updateDate                                                     2023-04-01T12:42:12Z
addressInformation.city                                                  Washington
addressInformation.district                                                      DC
addressInformation.officeAddress  503 Hart Senate Office Building Washington, DC...
addressInformation.phoneNumber                                       (202) 224-2315
addressInformation.zipCode                                                    20515
cosponsoredLegislation.count                                                   7873
cosponsoredLegislation.url        https://api.congress.gov/v3/member/B000944/cos...
depiction.attribution             <a href="http://www.senate.gov/artandhistory/h...
depiction.imageUrl                https://www.congress.gov/img/member/b000944_20...
sponsoredLegislation.count                                                   1389.0
sponsoredLegislation.url          https://api.congress.gov/v3/member/B000944/spo...
middleName                                                                      NaN
suffixName                                                                      NaN
nickName                                                                        NaN
leadership                                                                      NaN
district                                                                        NaN

## Congress Members

In [5]:
congress_members.columns = [x.lower() for x in congress_members.columns]
congress_members.columns = [x.replace('.', '_') for x in congress_members.columns]
congress_members.columns

Index(['bioguideid', 'birthyear', 'currentmember', 'directordername',
       'firstname', 'honorificname', 'invertedordername', 'lastname',
       'officialwebsiteurl', 'partyhistory', 'state', 'terms', 'updatedate',
       'addressinformation_city', 'addressinformation_district',
       'addressinformation_officeaddress', 'addressinformation_phonenumber',
       'addressinformation_zipcode', 'cosponsoredlegislation_count',
       'cosponsoredlegislation_url', 'depiction_attribution',
       'depiction_imageurl', 'sponsoredlegislation_count',
       'sponsoredlegislation_url', 'middlename', 'suffixname', 'nickname',
       'leadership', 'district'],
      dtype='object')

In [6]:
congress_members = congress_members.drop(['terms','leadership','partyhistory'], axis = 1)

In [7]:
congress_members.head(1).T

                                                                                  0
bioguideid                                                                  B000944
birthyear                                                                      1952
currentmember                                                                  True
directordername                                                       Sherrod Brown
firstname                                                                   Sherrod
honorificname                                                                   Mr.
invertedordername                                                    Brown, Sherrod
lastname                                                                      Brown
officialwebsiteurl                                    https://www.brown.senate.gov/
state                                                                          Ohio
updatedate                                                     2023-04-01T12:42:12Z
addressinformation_city                                                  Washington
addressinformation_district                                                      DC
addressinformation_officeaddress  503 Hart Senate Office Building Washington, DC...
addressinformation_phonenumber                                       (202) 224-2315
addressinformation_zipcode                                                    20515
cosponsoredlegislation_count                                                   7873
cosponsoredlegislation_url        https://api.congress.gov/v3/member/B000944/cos...
depiction_attribution             <a href="http://www.senate.gov/artandhistory/h...
depiction_imageurl                https://www.congress.gov/img/member/b000944_20...
sponsoredlegislation_count                                                   1389.0
sponsoredlegislation_url          https://api.congress.gov/v3/member/B000944/spo...
middlename                                                                      NaN
suffixname                                                                      NaN
nickname                                                                        NaN
district                                                                        NaN

## Terms

In [8]:
terms.columns = [x.lower() for x in terms.columns]
terms.columns = [x.replace('.', '_') for x in terms.columns]
terms.columns

Index(['chamber', 'congress', 'endyear', 'membertype', 'startyear',
       'statecode', 'statename', 'bioguideid', 'district'],
      dtype='object')

In [9]:
terms.head(3).T

                  0        1        2
chamber      Senate   Senate   Senate
congress        107      108      109
endyear      2003.0   2005.0   2007.0
membertype  Senator  Senator  Senator
startyear      2002     2003     2005
statecode        TX       TX       TX
statename     Texas    Texas    Texas
bioguideid  C001056  C001056  C001056
district        NaN      NaN      NaN

## Leadership

In [10]:
leadership.columns = [x.lower() for x in leadership.columns]
leadership.columns = [x.replace('.', '_') for x in leadership.columns]
leadership.columns

Index(['congress', 'type', 'bioguideid', 'current'], dtype='object')

In [11]:
leadership.head(3).T

,0,1,2
congress,113,114,115
type,Assistant Democratic Leader,Assistant Majority Leader,Majority Whip
bioguideid,C001056,C001056,C001056
current,NaN,NaN,NaN

## os_legislators

In [12]:
os_legislators.columns = [x.lower() for x in os_legislators.columns]
os_legislators.columns = [x.replace('.', '_') for x in os_legislators.columns]
os_legislators.columns

Index(['cid', 'firstl', 'lastnam', 'party', 'offic', 'gend', 'first_elected',
       'xit_cod', 'commen', 'phon', 'fax', 'w', 'webform', 'congress_offic',
       'oguide_id', 'votesmart_id', 'feccandid', 'witter_id', 'youtube_url',
       'facebook_id', 'hd'],
      dtype='object')

In [13]:
os_legislators.head(3).T

,0,1,2
cid,N00050780,N00035774,N00026050
firstl,Mary Peltola,Dan Sullivan,Lisa Murkowski
lastnam,Peltola,Sullivan,Murkowski
party,D,R,R
offic,AK01,AKS1,AKS2
gend,F,M,F
first_elected,2022,2014,2002
xit_cod,0,0,0
commen,NaN,NaN,NaN
phon,NaN,202-224-3004,202-224-6665
fax,NaN,NaN,202-224-5301
w,NaN,https://www.sullivan.senate.gov,https://www.murkowski.senate.gov
webform,NaN,https://www.sullivan.senate.gov/contact/email,https://www.murkowski.senate.gov/public/index....
congress_offic,NaN,702 Hart Senate Office Building,522 Hart Senate Office Building
oguide_id,NaN,S001198,M001153
votesmart_id,NaN,NaN,15841.0
feccandid,NaN,S4AK00214,S4AK00099
witter_id,NaN,SenDanSullivan,LisaMurkowski
youtube_url,NaN,NaN,https://youtube.com/senatormurkowski
facebook_id,NaN,SenDanSullivan,SenLisaMurkowski
hd,NaN,1964-11-13,1957-05-22

In [14]:
os_legislators = os_legislators[['cid', 'party', 'oguide_id']]
os_legislators = os_legislators.rename({'oguide_id': 'bioguideid'}, axis = 1)
os_legislators

           cid party bioguideid
0    N00050780     D        NaN
1    N00035774     R    S001198
2    N00026050     R    M001153
3    N00044245     R    C001054
4    N00041295     R    M001212
..         ...   ...        ...
532  N00032838     D    M001183
533  N00009771     R    C001047
534  N00049197     R    H001096
535  N00006236     R    B001261
536  N00029788     R    L000571

[537 rows x 3 columns]

In [27]:
members = pd.merge(congress_members, os_legislators,
                  on = 'bioguideid',
                  how = 'inner')

## os_contributions

In [28]:
os_contributions.columns = [x.lower() for x in os_contributions.columns]
os_contributions.columns = [x.replace('.', '_') for x in os_contributions.columns]
os_contributions.columns

Index(['org_nam', 'otal', 'pac', 'ndiv'], dtype='object')

In [30]:
os_contributions.head(30)

                                  org_nam   otal    pac   ndiv
0                         State of Alaska  19541      0  19541
1                 Sonosky, Chambers et al  16050      0  16050
2               General Communication Inc  15150   2500  12650
3                              Google Inc  14164      0  14164
4          University of Alaska/Anchorage  13938      0  13938
5                              Swing Left  13400      0  13400
6                               Apple Inc  10783      0  10783
7   Service Employees International Union  10010   5000   5010
8                 National Education Assn  10000  10000      0
9                           Sealaska Corp   9950      0   9950
10                      Rpm International  66950  10000  56950
11                          Goldman Sachs  59500   4000  55500
12              Calfee, Halter & Griswold  45300      0  45300
13    National Republican Senatorial Cmte  44600  44600      0
14                       Trident Seafoods  43550   5600  37950
15                     Elliott Management  39100      0  39100
16                        General Atomics  37550  12500  25050
17                         ConocoPhillips  37425  10000  27425
18                       Blackstone Group  36100      0  36100
19                             Lynden Inc  30700      0  30700
20                         ConocoPhillips  60050  10000  50050
21    American Israel Public Affairs Cmte  59500  10000  49500
22                       Trident Seafoods  55300   5800  49500
23    National Republican Senatorial Cmte  51200  51200      0
24                               KKR & Co  48405      0  48405
25                         NextEra Energy  36450  10000  26450
26              General Communication Inc  34900  10000  24900
27                            Exelon Corp  34300  11500  22800
28                                 NorPAC  31250      0  31250
29                          Capital Group  30700      0  30700

## committees

In [43]:
committees.columns = [x.lower() for x in committees.columns]
committees.columns = [x.replace('.', '_') for x in committees.columns]
committees = committees.drop(['subcommittees'], axis = 1)

## Committee Members

In [44]:
committee_members.columns = [x.lower() for x in committee_members.columns]
committee_members.columns = [x.replace('.', '_') for x in committee_members.columns]

In [45]:
committee_members.head(30)

   committee_code  rank           title bioguide
0            HSII   1.0           Chair  W000821
1            HSII   1.0  Ranking Member  G000551
2            HSII   2.0             NaN  L000564
3            HSII   2.0             NaN  N000179
4            HSII   3.0             NaN  W000804
5            HSII   3.0             NaN  S001177
6            HSII   4.0             NaN  M001177
7            HSII   4.0             NaN  H001068
8            HSII   5.0             NaN  G000565
9            HSII   5.0             NaN  G000574
10           HSII   6.0             NaN  G000577
11           HSII   6.0             NaN  N000191
12           HSII   7.0             NaN  R000600
13           HSII   7.0             NaN  L000593
14           HSII   8.0             NaN  L000578
15           HSII   8.0             NaN  P000618
16           HSII   9.0             NaN  W000806
17           HSII   9.0             NaN  L000273
18           HSII  10.0             NaN  G000582
19           HSII  10.0             NaN  S001218
20           HSII  11.0             NaN  F000469
21           HSII  11.0             NaN  P000619
22           HSII  12.0             NaN  S001212
23           HSII  12.0             NaN  O000172
24           HSII  13.0             NaN  C001114
25           HSII  13.0             NaN  M001225
26           HSII  14.0             NaN  T000165
27           HSII  14.0             NaN  H001094
28           HSII  15.0             NaN  C001054
29           HSII  15.0             NaN  K000400